<div class="btn-group d-flex justify-content-center" style="padding: 30px; margin: 30px; padding-top: 150px">
    <button type="button" class="btn btn-primary" style="margin-right: 15px; padding: 20px 25px; font-size: 18px;"><a href="/students-form" style="color: white; text-decoration: none;">STUDENTS</a></button>
    <button type="button" class="btn btn-secondary" style="margin-right: 15px; padding: 20px 25px; font-size: 18px;"><a href="/program-form" style="color: white; text-decoration: none;">PROGRAMME</a></button>
    <button type="button" class="btn btn-success" style="padding: 20px 25px; font-size: 18px;"><a href="/registration-info" style="color: white; text-decoration: none;">REGISTRATIONS</a></button>
</div>

